<div class="di-title fc1 ff2">
  <div>滴滴出行—行程单</div>
  <div>DIDI TRAVEL - TRIP TABLE</div>
</div>
<div class="di-user ff2 fc2">
  姓名： <span class="fc3">____________________________________</span>
  工号： <span class="fc3">____________________________________</span>
  部门： <span class="fc3">____________________________________</span>
</div>
<div class="di-collect ff2">
  <div class="di-collect__item">申请日期:<%= submitDate %></div>
  <div class="di-collect__item">行程时间:<%= duration %></div>
  <div class="di-collect__item">行程人手机号:18603054715</div>
  <div class="di-collect__item">共<%= length %>笔行程， 合计 <%= money %>元</div>
</div>