<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>滴滴出行行程报销单</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="di">
    <div class="di-empty">
      <span class="ff1">-</span>
    </div>
    <%- include('header'); -%>
    <%- include('table'); -%>
    <div class="di-page ff2">
    页码：2/5
    </div>
  </div>
</body>
</html>