<div class="di-table ff2">
  <table border="0" >
    <thead class="fc4">
      <tr>
        <th width="51">序号</th>
        <th width="51">车型</th>
        <th width="135">上车时间</th>
        <th width="83">城 市</th>
        <th width="250">起点</th>
        <th width="250">终点</th>
        <th width="83" class="dline">
          里程 <br />
          <span> </span> <br />
          [公里]
        </th>
        <th width="83" class="dline">
          金额 <br />
          <span> </span> <br />
          [元]
        </th>
        <th width="92">备注</th>
      </tr>
    </thead>
    <tbody class="fc5">
    <tr>
      <td>1</td>
      <td>快车</td>
      <td>01-06 18:27 周六</td>
      <td>广州市</td>
      <td>凤池农贸市场西侧</td>
      <td>微八连锁酒999999店(西朗地铁站店)</td>
      <td>6.2</td>
      <td>24.59</td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td>快车</td>
      <td>01-06 18:27 周六</td>
      <td>广州市</td>
      <td>凤池农贸市场西侧</td>
      <td>微八连锁酒店(西朗地铁站店)</td>
      <td>6.2</td>
      <td>24.59</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>