@import './font.scss';
@function px2rem($px) {
  @return $px * 1px;
}

*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-size: px2rem(32);
  // background-image: url('../image/bg.png');
  // background-repeat: no-repeat;
  // background-size: px2rem(2480);

}
.di{
  // 当分辨率是150像素/英寸时，A4纸像素长宽分别是1754×1240；
  // width: px2rem(1240*2);
  width: px2rem(2480);
  height: px2rem(3508);
  // height: px2rem(1754*2);
  // background-color: #fff;
  background: url('../image/top-banner.png'), url('../image/logo.png');
  background-repeat: no-repeat;
  background-position:0 0, px2rem(102*2) px2rem(168*2) ;
  background-size: 100%, px2rem(192*2);
  overflow: hidden;
  position: relative;
  word-spacing: 0;
  letter-spacing: 0;
  &-empty{
    width: px2rem(440*2);
    height: px2rem(134*2);
    margin: 0 auto;
    margin-top: px2rem(125*2);
    border: px2rem(1*2) solid #fff;
    >span{
      font-size: px2rem(100*2);
      line-height: px2rem(134*2);
      color: #fff;
    }
  }
  &-title{
    text-align: center;
    >div{
      margin-top: px2rem(20*2);
      &:first-child{
        font-size: px2rem(95);
        letter-spacing: px2rem(1);
        text-indent: px2rem(-8);
      }
      &:last-child{
        margin-top: px2rem(42);
        font-size: px2rem(37);
        letter-spacing: px2rem(0.2);
        text-indent: px2rem(16);
      }
    }
  }
  &-user{
    text-align: center;
    margin-top: px2rem(108);
    font-size: px2rem(17*2);
    text-indent: px2rem(45);
    >span{
      margin-left: px2rem(11*2);
      margin-right: px2rem(13*2);
      font-size: px2rem(33.2);
    }
  }
  &-collect{
    padding: px2rem(99) px2rem(89*2);
    padding-bottom: 0;
    font-size: px2rem(33);
    letter-spacing: px2rem(0.2);
    &__item{
      box-sizing: border-box;
      display: inline-block;
      margin: px2rem(17) 0;
      width: px2rem(678);
      &:nth-child(2n){
        width: px2rem(600*2);
      }
      &:before{
        box-sizing: border-box;
        content: '';
        display: inline-block;
        width: px2rem(4*2);
        height: px2rem(12*2);
        background: #000;
        margin-right: px2rem(6*2);
        position: relative;
        top: px2rem(-2);
      }
    }
  }
  &-table{
    padding-top: px2rem(17);
    padding-left: px2rem(177);
    padding-right: px2rem(135);
    $boderColor: #d0d0d0;
    letter-spacing: px2rem(0.2);
    >table{
      width: 100%;
      border-spacing: 0;
      border: px2rem(3) solid $boderColor;
      table-layout: fixed;
      thead{
        th{
          font-size: px2rem(35);
          text-align: center;
          background: #666;
          color: #f2f2f2;
          height: px2rem(168);
          border-left: px2rem(1) solid $boderColor;
          padding-top: px2rem(15);
          text-indent: px2rem(-5);
          font-weight: lighter;
          &:first-child{
            border-left: none;
          }
        }
        .dline{
          text-indent: px2rem(7);
          line-height: 1.08;
        }
      }
      tbody{
        td{
          font-size: px2rem(29);
          text-align: center;
          height: px2rem(129);
          border-top: px2rem(3) solid $boderColor;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-top: px2rem(15);
          text-indent: px2rem(-4);
        }
        tr{
          &:nth-child(2n){
            background: #f0f0f0;
          }
        }
      }
    }
  }
  &-page{
    position: absolute;
    right: px2rem(200);
    bottom: px2rem(178);
    letter-spacing: px2rem(0.8);
  }

  .fc0 {
    color: rgb(255, 255, 255);
  }
  .fc1 {
    color: rgb(0, 0, 0);
  }
  .fc2 {
    color: rgb(48, 48, 48);
  }
  .fc3 {
    color: rgb(208, 208, 208);
  }
  .fc4 {
    color: rgb(242, 242, 242);
  }
  .fc5 {
    color: rgb(116, 116, 116);
  }
}
@import './print.scss';